@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Londrina+Outline&family=Oswald:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* font-family: 'Londrina Outline', sans-serif; */
    scroll-behavior: smooth;
    color-scheme: dark;
}
.hoverOutline :hover {
    outline: 2px solid white;
}